body{
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0;
}

li{
    display: inline-flex;
    list-style: none;
}

.subtitulo{
    margin-top: 200px;
    background-color: #738e97;
    box-shadow:0 10px 0 black;
    height: 50px;
}

nav{
    margin-right: 20px;
}