body{
    background-image: url('/assets/img/fundo.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0;
}
.logo {
    width: 80px; 
    height: 80px;
}
li{
    display: inline-flex;
    list-style: none;
}

.logo-insta {
    width: 40px;
    height: 40px;
  }
a.botao-insta{
    content: "";
    width: 10px;
    height: 10px;
    width: 40px;
    height: 40px;
    margin: 0px;
}

h2, h3 {
    font-family: 'Fira code';
}
#box h2{
    margin-bottom: 28px;
}


nav{
    text-align: right;
    position: sticky;
    top: 0;
}

.subtitulo{
    margin-top: 200px;
    background-color: #738e97;
    box-shadow:0 10px 0 black;
    height: 50px;
}

#parte2{
    margin-top: 50px;
}