.header{
    display: flex;
    justify-content: space-between;
    background-color: #add8e6;
    border-bottom: 10px solid black ;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
}
